.titulo{
    width: 100%;
    height: 30%;
    display: flex;
    background-color: aqua;
}

.viaja{
    width: 80%;
    display: flex;
    background-color: aquamarine;
}
.men{
    width: 20%;
    display: flex;
    background-image: ;
}