.titulo{
    width: 100%;
    height: 30%;
    display: flex;
}

.viaja{
    width: 80%;
    display: flex;
}
.men{
    width: 20%;
    display: flex;
    background-image: url(img/menu.png);
}
